/*
   Author: Ralph Ocba
*/
/* BASE- Base style, variables, mixins, etc */
/*px value to rem*/
/*Font Variable*/
/*Color Variable*/
/* MODULES - Individual Site components */
/*LAYOUT - Page layout styles*/
/*px value to rem*/
/*Font Variable*/
/*Color Variable*/
.services .col {
  border: solid 1px;
  margin: 10px;
}

.box {
  /*value sequence width,height,x-axis,y-axis,z-index*/
}
.box .box1 {
  width: 18%;
  height: 40%;
  background-color: rgba(186, 199, 195, 0.397);
  text-align: center;
  position: absolute;
  box-shadow: 3px 3px 6px 4px;
  padding: 20px 10px;
  left: 19.5%;
  top: 29%;
  z-index: 4;
  font-size: 1.25rem;
  border-radius: 10px;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.438);
  border-left: 1px solid rgba(255, 255, 255, 0.438);
  transition: ease-in-out 0.4s;
}
.box .box1:hover {
  overflow: auto;
  color: whitesmoke;
  transform: scale(1.2);
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.507);
  background-color: rgba(42, 44, 43, 0.452);
  z-index: 20;
}
.box .box2 {
  width: 10%;
  height: 17%;
  background-color: rgba(186, 199, 195, 0.397);
  text-align: center;
  position: absolute;
  box-shadow: 3px 3px 6px 4px;
  padding: 20px 10px;
  left: 12%;
  top: 21%;
  z-index: 5;
  font-size: 1.25rem;
  border-radius: 10px;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.438);
  border-left: 1px solid rgba(255, 255, 255, 0.438);
  transition: ease-in-out 0.4s;
}
.box .box2:hover {
  overflow: auto;
  color: whitesmoke;
  transform: scale(1.2);
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.507);
  background-color: rgba(42, 44, 43, 0.452);
  z-index: 20;
}
.box .box3 {
  width: 8%;
  height: 10%;
  background-color: rgba(186, 199, 195, 0.397);
  text-align: center;
  position: absolute;
  box-shadow: 3px 3px 6px 4px;
  padding: 20px 10px;
  left: 20%;
  top: 16%;
  z-index: 2;
  font-size: 1.25rem;
  border-radius: 10px;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.438);
  border-left: 1px solid rgba(255, 255, 255, 0.438);
  transition: ease-in-out 0.4s;
}
.box .box3:hover {
  overflow: auto;
  color: whitesmoke;
  transform: scale(1.2);
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.507);
  background-color: rgba(42, 44, 43, 0.452);
  z-index: 20;
}
.box .box4 {
  width: 10%;
  height: 12%;
  background-color: rgba(186, 199, 195, 0.397);
  text-align: center;
  position: absolute;
  box-shadow: 3px 3px 6px 4px;
  padding: 20px 10px;
  left: 36%;
  top: 60%;
  z-index: 3;
  font-size: 1.25rem;
  border-radius: 10px;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.438);
  border-left: 1px solid rgba(255, 255, 255, 0.438);
  transition: ease-in-out 0.4s;
}
.box .box4:hover {
  overflow: auto;
  color: whitesmoke;
  transform: scale(1.2);
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.507);
  background-color: rgba(42, 44, 43, 0.452);
  z-index: 20;
}
.box .box5 {
  width: 10%;
  height: 15%;
  background-color: rgba(186, 199, 195, 0.397);
  text-align: center;
  position: absolute;
  box-shadow: 3px 3px 6px 4px;
  padding: 20px 10px;
  left: 30%;
  top: 65%;
  z-index: 5;
  font-size: 1.25rem;
  border-radius: 10px;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.438);
  border-left: 1px solid rgba(255, 255, 255, 0.438);
  transition: ease-in-out 0.4s;
}
.box .box5:hover {
  overflow: auto;
  color: whitesmoke;
  transform: scale(1.2);
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.507);
  background-color: rgba(42, 44, 43, 0.452);
  z-index: 20;
}
.box .box6 {
  width: 9%;
  height: 13%;
  background-color: rgba(186, 199, 195, 0.397);
  text-align: center;
  position: absolute;
  box-shadow: 3px 3px 6px 4px;
  padding: 20px 10px;
  left: 9%;
  top: 28%;
  z-index: 1;
  font-size: 1.25rem;
  border-radius: 10px;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.438);
  border-left: 1px solid rgba(255, 255, 255, 0.438);
  transition: ease-in-out 0.4s;
}
.box .box6:hover {
  overflow: auto;
  color: whitesmoke;
  transform: scale(1.2);
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.507);
  background-color: rgba(42, 44, 43, 0.452);
  z-index: 20;
}
.box .box7 {
  width: 9%;
  height: 15%;
  background-color: rgba(186, 199, 195, 0.397);
  text-align: center;
  position: absolute;
  box-shadow: 3px 3px 6px 4px;
  padding: 20px 10px;
  left: 39%;
  top: 25%;
  z-index: 5;
  font-size: 1.25rem;
  border-radius: 10px;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.438);
  border-left: 1px solid rgba(255, 255, 255, 0.438);
  transition: ease-in-out 0.4s;
}
.box .box7:hover {
  overflow: auto;
  color: whitesmoke;
  transform: scale(1.2);
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.507);
  background-color: rgba(42, 44, 43, 0.452);
  z-index: 20;
}
.box .box8 {
  width: 9%;
  height: 14%;
  background-color: rgba(186, 199, 195, 0.397);
  text-align: center;
  position: absolute;
  box-shadow: 3px 3px 6px 4px;
  padding: 20px 10px;
  left: 8%;
  top: 50%;
  z-index: 5;
  font-size: 1.25rem;
  border-radius: 10px;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.438);
  border-left: 1px solid rgba(255, 255, 255, 0.438);
  transition: ease-in-out 0.4s;
}
.box .box8:hover {
  overflow: auto;
  color: whitesmoke;
  transform: scale(1.2);
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.507);
  background-color: rgba(42, 44, 43, 0.452);
  z-index: 20;
}

#banner {
  position: relative;
  background-image: linear-gradient(#ede4e0, #c8dbbe);
}

#server {
  background-color: rgba(92, 92, 92, 0.425);
  padding: 10px;
}/*# sourceMappingURL=main.css.map */