/*px value to rem*/
@function remy($pxsize) {
  $remVal: ($pxsize/16) + rem;
  @return $remVal;
}

/*Font Variable*/
$font-family: Arial, Helvetica, sans-serif;

/*Color Variable*/
$primary-color: #ede4e0;
$secondary-color: #c8dbbe;
$light-color: #9f8772;
$dark-color: #665a48;
